@use '../../styles/partials/variables' as *;

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        height: 100vh;
    }

    &__header {
        width: 100%;
        padding: 0.69rem 0.75rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        font-size: 1.62rem;
        font-weight: $extra-bold;
        margin: 0 0 0.25rem;

        &-span {

            &--1 {
                color: $player1-color;
            }

            &--2 {
                color: $player2-color;
            }
        }
    }

    &__subheader {
        color: $secondary-dark;
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        display: flex;
        margin: 0;

        &-span {

            &--1 {
                color: $player1-color;
            }

            &--2 {
                color: $player2-color;
            }        
        }
    }


    &__other-name {
        margin-right: 0.2rem;
    }

    &__leave, &__reveal {
        padding: 0;
        background-color: $primary-light;
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        border: none;
    }
}

.buttons {
    &__wrapper {
        width: 284px;
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.43rem;
    }

    &__reaction {
        color: $primary-light;
        height: 2.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: $extra-bold;
        background-color: $player1-color;
        border: 2px solid $primary-dark;
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 0.75rem;

        &--emoji {
            width: 3.2rem;
        }

        &--submit {
            width: 10.48rem;
        }

        &--1 {
            background-color: $player1-color;
        }

        &--2 {
            background-color: $player2-color;
        }     
    }

}

.modal__wrapper {
    &--true {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;   
        display: flex;
        z-index: 15;
    }
}