

.tile {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.669);
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

.col-3, .col-6 {
    border-right: 2px solid rgb(255, 170, 0);
}

.row-3, .row-6 {
    border-bottom: 1px solid rgb(255, 170, 0);
}

.selected {
    background-color: salmon;
}

.locked {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.075);
}

.reaction {
    // display: none;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    right: -4px;
    bottom: -4px;
    z-index: 10;
}