@use '../../styles/partials/variables' as *;

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.94rem;
    width: 1.94rem;
    font-size: 1rem;
    font-weight: $extra-bold;
    position: relative;
}

.col-1, .col-2, .col-4, .col-5, .col-7, .col-8 {
    border-right: 1px solid $secondary-dark;
}

.col-3, .col-6 {
    border-right: 2px solid $primary-dark;
}

.col-4, .col-7 {
    border-left: none;
}

.row-1, .row-2, .row-4, .row-5, .row-7, .row-8 {
    border-bottom: 1px solid $secondary-dark;
}

.row-3, .row-6 {
    border-bottom: 2px solid $primary-dark;
}

.selected {
    border: 1px solid $player1-color;
    outline: 3px solid $player1-color;
    z-index: 10;
}

.other-selected {
    background-color: red;
}

.locked {
    font-weight: bold;
    background-color: $secondary-light;
}

.reaction {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    right: -4px;
    bottom: -4px;
    z-index: 10;
}