// phone sizing
$phone-section-padding: 1rem 1rem 0;

// tablet sizing
$tablet-screen-min: 768px;
$tablet-section-padding: 2rem 2.25rem 0;

//desktop sizing
$desktop-screen-min: 1280px;
$desktop-section-padding: 2.25rem auto 0;