// font weights
$extra-bold: 900;
$medium: 500;
$regular: 400;
$light: 300;

// colors
$player1-color: #11B97C;
$player1-color-opaque: #d6f8ea;
$player2-color: #F2387B;
$player2-color-opaque: #f8dde7;

$primary-light: #FFFFFF;
$primary-dark: #000000;
$secondary-light: #E0E0E0;
$secondary-dark: #A0A0A0;

$inactive-dark: #808080;
$inactive-light: #C0C0C0;

$error-color: #FF7A00;

// phone sizing
$phone-section-padding: 1rem 1rem 0;

// tablet sizing
$tablet-screen-min: 768px;
$tablet-section-padding: 2rem 2.25rem 0;

//desktop sizing
$desktop-screen-min: 1280px;
$desktop-section-padding: 2.25rem auto 0;