@use '../../styles/partials/variables' as *;

.submit-button {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: $extra-bold;
    background-color: $primary-light;
    border: 2px solid $primary-dark;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.75rem;

    &--player1 {
        background-color: $player1-color;
        color: $light;
    }

    &--player2 {
        background-color: $player2-color;
        color: $light;
    }

    &--active {
        &:hover {
            cursor: pointer;
        }
    }

    &--inactive {
        background-color: $inactive-background;
        color: $inactive-color;
        box-shadow: none;
    }
}