@use '../../styles/partials/variables' as *;

.modal {
    padding: 0.87rem 1rem;
    background-color: white;
    width: 17rem;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    z-index: 20;
    box-shadow: 8px 16px 0px rgba(0, 0, 0, 0.1);

    &__title {
        font-size: 1.63rem;
        font-weight: $extra-bold;
        // text-transform: uppercase;
        margin: 0 0 1rem 0;
    }

    &__p {
        font-size: 0.875rem;
        font-weight: $light;
        margin: 0 0 1rem 0;

        &--false {
            display: none;
        }
    }

    .submit-button {
        margin-bottom: 0;
    }

    &__win {
        font-size: 0.875rem;
        font-weight: $light;
        margin: 0 0 1rem 0;

        &--false {
            display: none;
        }

        &--true {
            display: block;
        }
    }

    &__span {
        &--1 {
            text-transform: uppercase;
            font-weight: $medium;
            color: $player1-color;
        }

        &--2 {
            text-transform: uppercase;
            font-weight: $medium;
            color: $player2-color;
        }
    }
}