@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.basic-header {
    padding: 0.69rem 0.75rem 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.56rem;

    &__wrapper {
        position: relative;
        max-width: 40rem;
        margin: 0 auto;

        @include tablet {
            margin: 1rem auto 3rem auto;
        }
    }

    &__back {
        padding: 0;
        display: flex;
        align-items: center;
        background-color: $primary-light;
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        border: none;
        position: absolute;
        left: 0.68rem;
    }

    &__icon {
        width: 1rem;
        margin-right: 0.44rem;
    }

    &__text {
        font-size: 1.63rem;
        font-weight: $extra-bold;
    }
}