@use '../../styles/partials/variables' as *;
@keyframes scroll {
    0% {
        background-position-y: 0rem;
    }
    100% {
        background-position-y: 18rem;
    }
}

.full-landing {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__window {
        background-image: url(../../assets/sudotwo_images/background_game-board@3x.png);
        height: 200vh;
        width: 200vw;
        left: -50vw;
        top: -50vh;
        background-size: 18rem;
        position: absolute;
        opacity: 0.1;
        transform: rotate(-15deg);
        animation: scroll 15s linear infinite;
    }

    &__wrapper {
        height: 100%;
        padding: 6rem 1rem 1rem;
        position: relative;
        max-width: 40rem;
        margin: 0 auto;
    }

    &__logo {
        width: 15.5rem;
    }

    &__color{
        color: $player1-color;
    }

    &__subheader {
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 1.75rem;
    }
}

.footer {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: $medium;
    text-transform: uppercase;
    text-align: center;

    &__credits{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__p {
        margin: 0 0 0.25rem 0;
    }
}