@use '../../styles/partials/variables' as *;

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__wrapper {
        height: 100%;
        padding: 6rem 1rem 1rem;
    }

    &__header {
        font-size: 3rem;
        font-weight: $extra-bold;
        margin: 0 0 0.3rem;
    }

    &__color{
        color: $player1-color;
    }

    &__subheader {
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 1.75rem;
    }

    &__footer {
        position: absolute;
        bottom: 1.5rem;
        width: 100%;
        font-size: 0.75rem;
        font-weight: $medium;
        text-transform: uppercase;
        text-align: center;
    }
}